[Unit]
Description=OpenVPN connection to %i
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/openvpn --daemon ovpn-%i --cd {{ openvpnConfigDir }} --config {{ openvpnConfigDir }}%i.conf
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory={{ openvpnConfigDir }}

[Install]
WantedBy=multi-user.target
