---

# https://rancher.com/docs/k3s/latest/en/installation/install-options/agent-config/
# https://github.com/PyratLabs/ansible-role-k3s#agent-worker-configuration

# Don't define the host as control plane nodes
k3s_control_node: false

# k3s settings for all worker nodes
k3s_agent:
  node-ip: "{{ ansible_eth0.ipv4.address }}"
  kubelet-arg:
  - "feature-gates=GracefulNodeShutdown=true"
  - "kube-api-qps=50"
  - "kube-api-burst=100"
  - "kube-reserved=cpu=500m,memory=512Mi,ephemeral-storage=1Gi"
  - "system-reserved=cpu=500m,memory=512Mi,ephemeral-storage=1Gi"
  - "eviction-hard=memory.available<256Mi,nodefs.available<10%"
  - "max-pods=110"
  node-label:
  - "worker=true"
